# meerecompany CubeEye devices
ATTRS{idProduct}=="8754" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8756" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8758" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8760" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8762" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8764" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8768" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="0006" ATTRS{idVendor}=="04b3", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="00c3" ATTRS{idVendor}=="04b3", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="00f8" ATTRS{idVendor}=="04b3", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
