# meerecompany CubeEye devices
ATTRS{idProduct}=="8750" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8754" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8756" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8758" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8760" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8762" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8764" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8766" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8768" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8770" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8772" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8774" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8776" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8777" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8778" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8779" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8780" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="8781" ATTRS{idVendor}=="03a4", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="0006" ATTRS{idVendor}=="04b3", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="00c3" ATTRS{idVendor}=="04b3", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
ATTRS{idProduct}=="00f8" ATTRS{idVendor}=="04b3", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
